# {{ ansible_managed }}

{% for listener in nginx_listeners %}
server {
  listen {{ listener.port | default('80') }}
{%- if listener.ssl | default(false) %} ssl {%- if (listener.http2 | default(true)) and (x__nginx_version is version('1.25.1', '<')) %} http2 {%- endif -%}{%- endif -%};
{% if (listener.ssl | default(false)) and (listener.http2 | default(true)) and (x__nginx_version is version('1.25.1', '>=')) %}
  http2 on;
{% endif %}
{% for header in listener.add_headers|default([]) %}
  add_header {{ header.name }} "{{ header.value }}"{{ header.always | default(false) | ternary(' always', '') }};
{% endfor %}
{% if (listener.ssl | default(false)) and (listener.hsts_enabled | default(hsts_enabled)) %}
  add_header Strict-Transport-Security "max-age={{ listener.hsts_max_age | default(hsts_max_age) }}{% if listener.hsts_include_subdomains | default(hsts_include_subdomains) %}; includeSubDomains{% endif %}{% if listener.hsts_preload | default(hsts_preload) %}; preload{% endif %}" always;
{% endif %}
  server_name {{ listener.server_name }} {{ (listener.aliases | default([])) | join(' ') }};
  access_log {{ nginx_access_log_conf }};
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  include /etc/nginx/includes/letsencrypt-acme-challenge.conf;
{% if (listener.ssl | default(false)) %}
  ssl_certificate {{ listener.ssl_fullchain_path }};
  ssl_certificate_key {{ listener.ssl_key_path }};
  ssl_dhparam /usr/local/ssl/private/dhparams.pem;
  ssl_protocols {{ listener.ssl_protocols | default(ssl_protocols) }};
  ssl_ciphers '{{ listener.ssl_ciphers | default(ssl_ciphers) }}';
  ssl_prefer_server_ciphers on;
{% if (listener.ssl_intermediates_path|default('')|length) and (listener.ssl_ocsp_must_staple | default(false)) %}
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate {{ listener.ssl_intermediates_path }};
{% endif %}{# intermediates/stapling #}
{% endif %}{# ssl #}
{% if listener.inline_custom is defined %}
  {{ listener.inline_custom | indent(2, false) }}
{% endif %}{# /inline_custom #}
{% if listener.redirect_url is defined %}
  location / {
    return {{ (listener.redirect_permanent|default(false)) | ternary('301', '302') }} {{ listener.redirect_url }};
  }
{% elif listener.redirect_to is defined %}
  location / {
    return {{ (listener.redirect_permanent|default(false)) | ternary('301', '302') }} {{ listener.redirect_to }}$request_uri;
  }
{% else %}{# redirect_to #}
  include /etc/nginx/includes/{{ linux_owner }}-{{ project }}.core.conf;
{% endif %}{# /redirect_to #}
}
{% endfor %}{# /nginx_listeners #}
