{% if require_http_auth == true
    and http_auth_username != ''
    and http_auth_password != ''
%}
  auth_basic "{{ http_auth_message }}";
  auth_basic_user_file {{ path_to_htpasswd_file }};
{% endif %}

  root /home/{{ linux_owner }}/www/{{ project }}/{{ web_root_dir_name }};
  index {{ default_document }};
  client_max_body_size {{ client_max_body_size }};

{% if web_application != 'proxy_pass' %}
  # Enable compression. This will help if you have, for instance, the advagg module
  # by serving Gzip versions of the files.
  gzip_static on;
{% endif %}

{% if nginx_include_custom | trim != '' %}
  # Custom includes provided to the ansible virtual host role
  include /etc/nginx/includes/{{ nginx_primal_name }}.customizations.conf;
{% endif %}

{% if web_application != 'proxy_pass' %}
  # Requests for this just clutters log files.
  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }
{% endif %}

{% if web_application != 'proxy_pass' %}
  # Handle requests for robots.txt.
  # This conf file is symlinked to an environment-specific file, so we can have different behaviour depending on whether this machine is production or staging / development.
  include /etc/nginx/includes/robots.conf;
{% endif %}

  # Very rarely should these ever be accessed outside of your lan
  location ~* \.(txt|log|sql|zip|gzip|gz|tar)$ {
    deny all;
  }

  # Other Drupal files that contain PHP, but shouldn't be served or processed directly
  location ~* \.(module|install|inc|theme|profile|engine|phar)$ {
    return 403;
  }

  # Dont allow requests for PHP files in parent directories
  location ~ \..*/.*\.php$ {
    return 403;
  }

  # Dont serve any filename ending with a tilde ... these are almost always backup files
  location ~* /*~$ {
    return 403;
  }

  # Don't allow php to run from inside upload dirs. PHP Execution + Anonymous write = Hacked website.
  location ~ {{ nginx_drupal_uploads_dir_pattern }}/.*\.php$ {
    return 403;
  }

  # Don't serve anything from private diretories. BTW these should really be outside of your web root anyway.
  location ~ ^/sites/.*/private/ {
    return 403;
  }

  # Block access to "hidden" files and directories whose names begin with a
  # period. This includes directories used by version control systems such
  # as Subversion or Git to store control files.
  location ~ (^|/)\. {
    return 403;
  }

{% if web_application != 'proxy_pass' %}
{% if nginx_ip_restricted_locations|length > 0  %}
{% for restricted_location in nginx_ip_restricted_locations %}
  location {{ restricted_location }} {
    {% for allowed_ip in nginx_allowed_ips %}
    allow {{ allowed_ip }};
    {% endfor %}
    deny all;
    {% if restricted_location.endswith('.php')  %}
    include {{ path_to_nginx_php_fpm_include }};
    {% else %}
    try_files $uri $uri/ @rewrite;
    {% endif %}
  }
{% endfor %}{# /nginx_ip_restricted_locations|length > 0 #}
{% endif %}{# /restricted_location in nginx_ip_restricted_locations #}
{% endif %}{# /web_application != 'proxy_pass' #}


{% if web_application == 'drupal6'
    or web_application == 'drupal5'
    or web_application == 'drupal4'    %}

  # Serve static content before trying to get PHP involved.
  location / {
    try_files $uri $uri/ @rewrite;
  }

  # Drupal 6
  location @rewrite {
    if (!-e $request_filename) {
      rewrite ^/(.*)$ {{ rewrite_target }}?q=$1;
    }
  }
  # Image cache doesn't work without this.
  location ~ {{ image_cache_location }} {
    try_files $uri @rewrite;
  }

{% elif web_application == 'wordpress' %}

  # This is cool because no php is touched for static content
  location / {
    try_files $uri $uri/ @rewrite;
  }

  # Wordpress:
  # Deny access to any files with a .php extension in the uploads directory
  # Works in sub-directory installs and also in multisite network
  # Keep logging the requests to parse later (or to pass to firewall utilities such as fail2ban)
  location ~* /(?:uploads|files)/.*\.php$ {
    return 403;
  }

  # Wordpress:
  # Deny all access to specific locations
  location = /wp-config.php {
    return 403;
  }
  location = /xmlrpc.php {
    return 403;
  }
  location /wp-json {
    return 403;
  }

  # Wordpress:
  # Include the "?$args" part so non-default permalinks doesn't break when using query string
  location @rewrite {
    rewrite ^ {{ rewrite_target }}?$args;
  }

{% elif web_application == 'drupal7' %}

  # Drupal 7: Serve static content before getting PHP involved.
  location / {
    try_files $uri $uri/ @rewrite;
  }

  # Drupal 7: Clean URLs are handled in drupal_environment_initialize().
  location @rewrite {
    rewrite ^ {{ rewrite_target }};
  }

  # Drupal 7: Image cache doesn't work without this.
  location ~ {{ image_cache_location }} {
    try_files $uri @rewrite;
  }

  # Drupal 7: Allow drupal to act as a broker for files served from the private dir
  location ~* /system/files/ {
    try_files $uri @rewrite;
  }

{% elif web_application == 'drupal8' %}

  # Drupal 8: Serve static content before getting PHP involved.
  location / {
    try_files $uri $uri/ @rewrite;
  }

  # Drupal 8: Clean URLs are handled in drupal_environment_initialize().
  location @rewrite {
    rewrite ^ {{ rewrite_target }};
  }

  # Drupal 8: Image cache doesn't work without this.
  location ~ {{ image_cache_location }} {
    try_files $uri @rewrite;
  }

  # Drupal 8: Allow drupal to act as a broker for files served from the private dir
  location ~* /system/files/ {
    try_files $uri @rewrite;
  }

  # Drupal 8: Update page doesn't work without this.
  location ~ ^/update.php {
    include {{ path_to_nginx_php_fpm_include }};
  }

{% elif web_application == 'proxy_pass' %}

  # Proxy pass
  location / {
    {{ nginx_proxy_pass_blob }}
  }

{% else %} {# Implied: web_application == ('static' or 'php') #}

  # Static website
  location / {
    try_files $uri $uri/ =404;
  }

{% endif %}

{% if web_application != 'proxy_pass' %}
  # Dont spam log files, and cache static content forever.
  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires max;
    log_not_found off;
  }
{% endif %}

{% if web_application != 'static' and web_application != 'proxy_pass' %}

  # PHP FPM on a socket
  location ~ \.php$ {
    include {{ path_to_nginx_php_fpm_include }};
  }

{% endif %}
