# {{ ansible_managed }}
# See https://git.acromedia.com/acro/devops/ansible-role-virtual-host/tree/master/templates/etc/nginx/sites-available/production.none.j2

{% if (nginx_primal_name != nginx_canonical_name) %}
server {
  listen {{ http_port }};
  server_name {{ nginx_primal_name }};
  access_log {{ nginx_access_log_conf }};
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  include /etc/nginx/includes/letsencrypt-acme-challenge.conf;
  location / {
    return {{ redirect_code }} http://{{ nginx_canonical_name }}$request_uri;
  }
}
{% endif %}

{% if nginx_aliases|length > 0 %}
server {
  listen {{ http_port }};
  server_name {{ nginx_aliases|join(' ') }};
  access_log {{ nginx_access_log_conf }};
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  include /etc/nginx/includes/letsencrypt-acme-challenge.conf;
  location / {
    return {{ redirect_code }} http://{{ nginx_canonical_name }}$request_uri;
  }
}
{% endif %}

server {
  listen {{ http_port }};
  server_name {{ nginx_canonical_name }};
  access_log {{ nginx_access_log_conf }};
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  include /etc/nginx/includes/letsencrypt-acme-challenge.conf;
  include /etc/nginx/includes/{{ linux_owner }}-{{ project }}.core.conf;
}
