# {{ ansible_managed }}
# See https://git.acromedia.com/acro/devops/ansible-role-virtual-host/tree/master/templates/etc/nginx/sites-available/staging.none.j2

server {
  listen 80;
  server_name {{ nginx_primal_name }};
  access_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-access.log;
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  {% include 'main.inc.j2' %}
}

server {
  listen 80;
  server_name {{ nginx_aliases|join(' ') }};
  access_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-access.log;
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  location / {
    return {{ redirect_code }} http://{{ nginx_canonical_name }}$request_uri;
  }
}

server {
  listen 80;
  server_name {{ nginx_canonical_name }};
  access_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-access.log;
  error_log /var/log/vhosts/{{ linux_owner }}/{{ project }}/nginx-error.log;
  {% include 'main.inc.j2' %}
}
