[{{ linux_owner }}-{{ project }}]
{#  See tasks/main.yml to find the value determined for x__php_service_user #}
user = {{ x__php_service_user }}
group = {{ x__php_service_user }}
listen = /var/run/php{{ php_version }}-fpm-{{ linux_owner }}-{{ project }}.sock
listen.owner = {{ nginx_process_owner }}
listen.group = {{ nginx_process_owner }}
;listen.mode = 0660
;listen.allowed_clients = 127.0.0.1

;pm.dynamic: ready for action but uses way more memory -- use for high traffic sites
;pm.ondemand: only runs when needed -- use for dev, staging, low traffic sites
pm = {{ php_fpm_mode }}

pm.max_children = {{ php_fpm_max_children }}
pm.start_servers = {{ php_fpm_start_servers }}
pm.min_spare_servers = {{ php_fpm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_max_spare_servers }}
pm.max_requests = {{ php_fpm_max_requests }}
{% if php_fpm_status_path != '' %}
pm.status_path = {{ php_fpm_status_path }}
{% endif %}
;request_terminate_timeout = 0
catch_workers_output = no
chdir = /
php_admin_flag[log_errors] = on
php_admin_value[error_log] = /var/log/vhosts/{{ linux_owner }}/{{ project }}/php-fpm-error.log
php_admin_value[max_execution_time] = {{ php_max_execution_time }}
php_admin_value[default_socket_timeout] = {{ php_default_socket_timeout }}
security.limit_extensions = .php
php_admin_value[open_basedir] = "{{ php_open_basedir }}"
{% if new_relic_app_name is defined %}{# old/duplicate var name. #}
php_value[newrelic.appname] = "{{ new_relic_app_name }}"
{% else %}
php_value[newrelic.appname] = "{{ php_fpm_newrelic_appname }}"
{% endif %}
php_flag[expose_php] = off
php_admin_value[upload_max_filesize] = {{ php_upload_max_filesize }}
php_admin_value[post_max_size] = {{ php_post_max_size }}
{% if php_memory_limit_locked %}
php_admin_value[memory_limit] = {{ php_memory_limit }}
{% else %}
php_value[memory_limit] = {{ php_memory_limit }}
{% endif %}
{% if php_sendmail_path is defined %}
php_admin_value[sendmail_path] = '{{ php_sendmail_path }}'
{% endif %}
php_admin_value[max_input_vars] = {{ php_max_input_vars }}
php_admin_value[short_open_tag] = {{ php_short_open_tag }}
